main {
  min-height: 80vh;
}

/* Product Card */
.card-img-top {
  width: 80%;
  height: 10vw;
  object-fit: cover;
}
.productLink {
  color: black;
}

h4 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}

h1,
h2 {
  font-size: 1.4rem;
  padding: 0.2rem;
}
