@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~react-image-gallery/styles/scss/image-gallery.scss";

@import "./variables";
@import "./direction.scss";
@import "./functions";
@import "./review";
@import "./typography";
@import "./product";
@import "./spec";

@import "./components/breadcrumb";
@import "./components/account-nav";
@import "./components/product-card";
@import "./components/address-card";
@import "./components/addresses-list";
@import "./components/dashboard";

@import "./common/page-header";
@import "./common/animation";
@import "./common/base";
@import "./common/nav-links";
@import "./common/document";

@import "./blocks/block-map";
@import "./blocks/block_banner";
@import "./blocks/block_categories";

@import "./pages/about-us";
@import "./pages/terms";
@import "./pages/privacy";

main {
  min-height: 85vh;
  font-family: "Roboto";
}

/* Product Card */
.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
  }
  .container {
    max-width: 100%;
    width: 100%;
  }
  .col-md-3 {
    width: 100%;
    float: left;
    margin: 0;
  }
}

.productLink {
  color: black;
}
/* End of Product Card */

h1,
h2 {
  font-size: 1.4rem;
  padding: 0.2rem;
}
h4 {
  padding: 1rem 0;
}
/* Rating */
.rating span {
  margin: 0.1rem;
}

.add-cart-button {
  font-family: Roboto;
  line-height: 40px;
}

@media (max-width: 576px) {
  #searchBox {
    margin-top: 15px;
    margin-bottom: 10px;
  }
  #cartCount {
    margin-bottom: 10px;
  }
  #authBtnGroup {
    max-width: 290px;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  #cartCount {
    margin-right: 10px;
  }
}
/* Product Info */
.product__meta {
  list-style: none;
  margin: 12px 0 0;
  padding: 12px 0 0;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  border-top: 1px solid;
}
.product__name {
  font-size: 24px;
  margin-bottom: 12px;
}
.product__description {
  margin: 10px 0 12px;
  font-size: 15px;
}
.product__rating {
  margin: 10px 0 12px;
  font-size: 15px;
}
/* */

/* product tab info */

.product-tabs__list {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.product-tabs {
  margin-top: 36px;
}

.product-tabs__list {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: -$product-tabs-border-width;

  &::after,
  &::before {
    content: "";
    display: block;
    width: 8px;
    flex-shrink: 0;
  }
}
.product-tabs__item {
  font-size: 20px;
  padding: 18px 48px;
  background: none;
  border: none;
  border-bottom: $product-tabs-border-width solid transparent;
  color: inherit;
  font-weight: $font-weight-medium;
  border-radius: 3px 3px 0 0;
  transition: all 0.15s;

  &:focus {
    outline: none;
  }
  &:hover {
    color: inherit;
    background: $product-tabs-hover-bg;
    border-bottom-color: $product-tabs-hover-border-color;
  }

  &:first-child {
    @include direction {
      #{$margin-inline-start}: auto;
    }
  }
  &:last-child {
    @include direction {
      #{$margin-inline-end}: auto;
    }
  }
}
.product-tabs__item--active {
  transition-duration: 0s;

  &,
  &:hover {
    cursor: default;
    border-bottom-color: $product-tabs-active-border-color;
    background: transparent;
  }
}
.product-tabs__content {
  border: $product-tabs-border;
  border-radius: $product-tabs-border-radius;
  padding: 80px 90px;
}
.product-tabs__pane {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
.product-tabs__pane--active {
  overflow: visible;
  height: auto;
  opacity: 1;
}

.product-tabs--layout--sidebar {
  .product-tabs__item {
    padding: 14px 30px;
  }
  .product-tabs__content {
    padding: 48px 50px;
  }
}

@media (min-width: breakpoint(lg-start)) and (max-width: breakpoint(lg-end)) {
  .product-tabs__content {
    padding: 60px 70px;
  }
}
@media (min-width: breakpoint(md-start)) and (max-width: breakpoint(md-end)) {
  .product-tabs {
    margin-top: 40px;
  }
  .product-tabs .product-tabs__item {
    padding: 14px 30px;
  }
  .product-tabs .product-tabs__content {
    padding: 40px 50px;
  }
}
@media (max-width: breakpoint(sm-end)) {
  .product-tabs {
    margin-top: 30px;
  }
  .product-tabs .product-tabs__item {
    padding: 10px 22px;
  }
  .product-tabs .product-tabs__content {
    padding: 24px;
  }
}
