.order__listing-row {
  border: 2px groove rgb(211, 209, 209);
  margin-bottom: 6px;
}

.order__listing-text-header {
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
  color: rgb(82, 80, 80);
}

.order__listing-row-product-info {
  border: 2px dotted rgb(255, 253, 253);
  margin-left: 2px;
}
